{% extends 'admin/layout.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}
<form class="transaction-form" method="POST" action="{{ site_url('admin/invoice/nonspk_save') }}">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <div class="card" style="width: 80%; margin: 0 auto !important;">
	            <div class="header">
	            	<h2>
	            		Form Pengisian Penjualan
	            	</h2>
	            </div>
	            <div class="body" style="padding: 15px">

	            	<div class="row clearfix">

	            		<div class="col-md-12">

	            			<table border="0" cellpadding="0" cellspacing="0" class="" style="width: 100%">
	            				<tr>
	            					<td>
	            						<label>Customer</label>
	            					</td>
	            					<td width="300">
	            						<div class="form-line">
											<input type="text" name="customer_id" class="form-control" value="{{ antrian_data.nama }}" readonly>
            							</div>
	            					</td>
	            					<td width="200" rowspan="4" valign="top" style="padding-left: 10px;">

	            					</td>
	            					<td width="100" rowspan="4" valign="top">
	            						<div style="margin-left: -20px;">
		            						<label>Buffer</label>
		            						<br>
		            						<div class="form-line">
		            							<input class="form-control" type="text" style="width: 70px;">
		            						</div>
	            						</div>
	            					</td>
	            					<td>
		            					<label>Tgl. Jual</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text">
            							</div>
	            					</td>
	            				</tr>

	            				<tr>
	            					<td>
		            					<label>Nomor SPK</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text">
            							</div>
		            				</td>
		            				<td>
	            						<label>Syarat Bayar</label>
	            					</td>
	            					<td>

            							<div class="form-line">
            								<select class="form-control">
            									<option>-Silahkan pilih-</option>
            									<option>Cash</option>
            									<option>Kredit</option>
            								</select>
            							</div>
		            				</td>
	            				</tr>

	            				<tr>
	            					<td>
		            					<label>Nomor Jual</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text">
            							</div>
		            				</td>
		            				<td>
		            					<label>Stock</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text">
            							</div>
		            				</td>
	            				</tr>

	            				<tr>

		            				<td>
	            						<label>Tempo Hari</label>
	            					</td>
	            					<td>
            							<div class="form-line">
            								<input class="form-control" type="text">
            							</div>
		            				</td>
		            				<td>
	            						<label>Jatuh Tempo</label>
	            					</td>
	            					<td>
            							<div class="form-line">
            								<input class="form-control" type="text">
            							</div>
		            				</td>
	            				</tr>

	            			</table>




							<br>

							<table class="table table-bordered">
	            				<thead>
	            					<tr>
	            					<th>
	            						Kode
	            					</th>
	            					<th>
	            						Nama Barang
	            					</th>
	            					<th>
	            						Keterangan
	            					</th>
	            					<th>
	            						Satuan
	            					</th>
	            					<th>
	            						Qty
	            					</th>
	            					<th>
	            						P
	            					</th>
	            					<th>
	            						L
	            					</th>
	            					<th>
	            						Harga
	            					</th>
	            					<th>
	            						Disc %
	            					</th>
	            					<th>
	            						Disc Rp
	            					</th>
	            					<th>
	            						Jumlah
	            					</th>

	            				</tr>
	            				</thead>

	            				<tbody>
	            					<tr>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            					</tr>

	            					<tr>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            					</tr>

	            					<tr>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            					</tr>
	            				</tbody>

	            			</table>

	            			<br>

	            			<table cellpadding="0" cellspacing="0" border="0" style="width: 100%">
	            				<tr>
	            					<td valign="top">
		            					<input type="submit" class="btn btn-primary" style="height: 60px;" value="Proses"/>
		            					<button class="btn btn-warning" style="height: 60px;">Tunda</button>
	            					</td>
	            					<td valign="top">
	            						<label>Keterangan</label>
	            						<br>
	            						<textarea></textarea>
	            					</td>
	            					<td>

	            					<table>
	            						<tr>
	            							<td>
	            								<label>Total</label>
	            							</td>
	            							<td style="padding-right: 20px;">
	            								<div class="form-line">
			            							<input class="form-control">
		            							</div>
	            							</td>
	            							<td>
	            								<label>Netto</label>
	            							</td>
	            							<td>
	            								<div class="form-line">
			            							<input class="form-control">
		            							</div>
	            							</td>
	            						</tr>
	            						<tr>
	            							<td>
	            								<label>Discount</label>
	            							</td>
	            							<td style="padding-right: 20px;">
	            								<div class="form-line">
			            							<input class="form-control">
		            							</div>
	            							</td>
	            							<td>
	            								<label>Bayar</label>
	            							</td>
	            							<td>
	            								<div class="form-line">
			            							<input class="form-control">
		            							</div>
	            							</td>
	            						</tr>
	            						<tr>
	            							<td>
	            								<label>Charge</label>
	            							</td>
	            							<td style="padding-right: 20px;">
	            								<div class="form-line">
			            							<input class="form-control">
		            							</div>
	            							</td>
	            							<td>
	            								<label>Sisa</label>
	            							</td>
	            							<td>
	            								<div class="form-line">
			            							<input class="form-control">
		            							</div>
	            							</td>
	            						</tr>
	            					</table>

	            					</td>
	            				</tr>
	            			</table>

	            			<form>


	            			</form>


	            		</div>

	            	</div>

	            </div>
	        </div>
	    </div>
	 </div>
 </form>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
	$("form").ajaxForm({
		dataType: 'json',
		success: function(response) {
			console.log(response);
		}
	});
	</script>
{% endblock %}
