{% extends 'admin/layout.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <div class="card" style="width: 80%; margin: 0 auto !important;">
	            <div class="header">
	            	<h2>
	            		Form Pengisian Penjualan
	            	</h2>
	            </div>
	            <div class="body" style="padding: 15px">

	            	<div class="row clearfix">

	            		<div class="col-md-12">

	            			<form class="transaction-form" method="POST" action="{{ site_url('admin/transaction/save') }}">
							
		            			<div class="col-md-6">

		            				<div class="row clearfix">

		            					<div class="col-md-3">
		            						<label>Customer</label>
		            					</div>
		            					
		            					<div class="col-md-7">
		            						<div class="form-group">
		            							<div class="form-line">
		            								<select class="form-control">
		            									<option>-Silahkan pilih-</option>
		            									{% if cust_data %}

							                        	{% for cust_row in cust_data %}

							                        		<option value="{{ cust_row.customer_id }}">
							                        			{{ cust_row.nama }}
							                        		</option>
							                        	{% endfor %}

							                        {% endif %}
		            								</select>
		            							</div>
		            						</div>
		            					</div>
		            					<div class="col-md-2">
		            						<button class="btn btn-info" type="button">...</button>
		            					</div>

		            				</div>

		            				<div class="row clearfix">

		            					<div class="col-md-3">
		            						<label>Nomor SPK</label>
		            					</div>
		            					
		            					<div class="col-md-7">
		            						<div class="form-group">
		            							<div class="form-line">
		            							<input class="form-control" type="text">
		            							</div>
		            						</div>
		            					</div>

		            				</div>

		            				<div class="row clearfix">

		            					<div class="col-md-3">
		            						<label>Nomor Jual</label>
		            					</div>
		            					
		            					<div class="col-md-7">
		            						<div class="form-group">
		            							<div class="form-line">
		            							<input class="form-control" type="text" readonly="">
		            							</div>
		            						</div>
		            					</div>

		            				</div>

		            				<div class="row clearfix">

		            					<div class="col-md-3">
		            						<label>Stock</label>
		            					</div>
		            					
		            					<div class="col-md-7">
		            						<div class="form-group">
		            							<div class="form-line">
		            							<input class="form-control" type="text" readonly="">
		            							</div>
		            						</div>
		            					</div>

		            				</div>
		            			</div>

		            			<div class="col-md-6">

		            				<div class="row clearfix">

		            					<div class="col-md-3">

		            						<label>Buffer</label>
		            						<textarea class="form-control"></textarea>

		            					</div>

		            					<div class="col-md-3">
		            						<label>Tgl. Jual</label>
		            					</div>
		            					
		            					<div class="col-md-6">
		            						<div class="form-group">
		            							<div class="form-line">
		            								<input class="form-control" type="text">
		            								
		            							</div>
		            						</div>
		            					</div>

		            				</div>

		            				<div class="row clearfix">

		            					<div class="col-md-3">
		            					</div>
		            					<div class="col-md-3">
		            						<label>Syarat Bayar</label>
		            					</div>
		            					
		            					<div class="col-md-6">
		            						<div class="form-group">
		            							<div class="form-line">
		            							<select class="form-control">
		            									<option>-Silahkan pilih-</option>
		            									<option>Cash</option>
		            									<option>Kredit</option>
		            								</select>
		            							</div>
		            						</div>
		            					</div>

		            				</div>

		            				<div class="row clearfix">

		            					<div class="col-md-3">
		            					</div>

		            					<div class="col-md-3">
		            						<label>Tempo Hari</label>
		            					</div>
		            					
		            					<div class="col-md-6">
		            						<div class="form-group">
		            							<div class="form-line">
		            							<input class="form-control" type="text">
		            							</div>
		            						</div>
		            					</div>

		            				</div>

		            				<div class="row clearfix">

		            					<div class="col-md-3">
		            					</div>

		            					<div class="col-md-3">
		            						<label>Jatuh Tempo</label>
		            					</div>
		            					
		            					<div class="col-md-6">
		            						<div class="form-group">
		            							<div class="form-line">
		            								<input class="form-control" type="text">
		            							</div>
		            						</div>
		            					</div>

		            				</div>
		            			</div>

		            			<div class="clearfix">&nbsp;</div>        

							</form>

							<table class="table table-bordered">
	            				<thead>
	            					<tr>
	            					<th>
	            						Kode
	            					</th>
	            					<th>
	            						Nama Barang
	            					</th>
	            					<th>
	            						Keterangan
	            					</th>
	            					<th>
	            						Satuan
	            					</th>
	            					<th>
	            						Qty
	            					</th>
	            					<th>
	            						P
	            					</th>
	            					<th>
	            						L
	            					</th>
	            					<th>
	            						Harga
	            					</th>
	            					<th>
	            						Disc %
	            					</th>
	            					<th>
	            						Disc Rp
	            					</th>
	            					<th>
	            						Jumlah
	            					</th>

	            				</tr>
	            				</thead>

	            				<tbody>
	            					<tr>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            					</tr>

	            					<tr>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            					</tr>

	            					<tr>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            						<td>&nbsp;</td>
	            					</tr>
	            				</tbody>
	            				
	            			</table>

	            			<form>
	            				
	            				<div class="col-md-3">
	            					<button class="btn btn-primary">Proses</button>
	            					<button class="btn btn-warning">Tunda</button>
	            				</div>

	            				<div class="col-md-3">
	            					<label>Keterangan</label>
	            					<div class="form-group">

	            						<div class="form-line">
	            						<textarea></textarea>
	            						</div>

	            					</div>
	            				</div>

	            				<div class="col-md-3">
	            					<div class="form-group">
	            						<div class="row clearfix">
			            					<label class="col-md-4">Total</label>
			            					<div class="col-md-8">
			            						<div class="form-line">
			            							<input class="form-control">
		            							</div>
		            						</div>
	            						</div>
	            					</div>

	            					<div class="form-group">
	            						<div class="row clearfix">
			            					<label class="col-md-4">Discount</label>
			            					<div class="col-md-8">
			            						<div class="form-line">
			            							<input class="form-control">
		            							</div>
		            						</div>
	            						</div>
	            					</div>

	            					<div class="form-group">
	            						<div class="row clearfix">
			            					<label class="col-md-4">Charge</label>
			            					<div class="col-md-8">
			            						<div class="form-line">
			            							<input class="form-control">
		            							</div>
		            						</div>
	            						</div>
	            					</div>
	            				</div>


	            				<div class="col-md-3">
	            					<div class="form-group">
	            						<div class="row clearfix">
			            					<label class="col-md-4">Netto</label>
			            					<div class="col-md-8">
			            						<div class="form-line">
			            							<input class="form-control">
		            							</div>
		            						</div>
	            						</div>
	            					</div>

	            					<div class="form-group">
	            						<div class="row clearfix">
			            					<label class="col-md-4">Bayar</label>
			            					<div class="col-md-8">
			            						<div class="form-line">
			            							<input class="form-control">
		            							</div>
		            						</div>
	            						</div>
	            					</div>

	            					<div class="form-group">
	            						<div class="row clearfix">
			            					<label class="col-md-4">Kembali</label>
			            					<div class="col-md-8">
			            						<div class="form-line">
			            							<input class="form-control">
		            							</div>
		            						</div>
	            						</div>
	            					</div>
	            				</div>

	            			</form>


	            		</div>

	            	</div>
	            
	            </div>
	        </div>
	    </div>
	 </div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
	</script>
{% endblock %}
